#ukrl1{
    height: 200px;
    background-color: blue;
}
#ukrl2{
    height: 200px;
    background-color: yellow;
}
#rass1{
    height: 200px;
    background-color: rgb(224, 218, 218);
}
#rass2{
    height: 200px;
    background-color:blue;
}
#rass3{
    height: 200px;
    background-color: red;
}
#arn1{
    height: 200px;
    background-color: rgb(0, 183, 255);
}
#arn2{
    height: 200px;
    background-color:white;
}
#arn3{
    height: 200px;
    background-color: rgb(0, 183, 255);
}
#ger1{
    height: 200px;
    background-color: black;
}
#ger2{
    height: 200px;
    background-color:red;
}
#ger3{
    height: 200px;
    background-color: yellow;
}
#bol1{
    height: 200px;
    background-color: rgb(224, 218, 218);
}
#bol2{
    height: 200px;
    background-color: rgb(82, 146, 82);
}
#bol3{
    height: 200px;
    background-color: red;
}
#is1{
    height: 200px;
    background-color: red;
}
#is2{
    height: 200px;
    background-color: rgb(255, 187, 0);
}
#is3{
    height: 200px;
    background-color: red;
}
#eg1{
    height: 200px;
    background-color: rgb(190, 37, 37);
}
#eg2{
    height: 200px;
    background-color: white;
}
#eg3{
    height: 200px;
    background-color: black;
}
#fr1{
    height: 400px;
    background-color: blue;
    width: 200px;
    display: inline-block ;
}
#fr2{
    height: 400px;
    background-color: white;
    width: 200px;
    display: inline-block ;
}
#fr3{
    height: 400px;
    background-color: red;
    width: 200px;
    display: inline-block ;
}
#ur1{
    height: 400px;
    background-color: rgb(82, 146, 82);
    width: 200px;
    display: inline-block ;
}
#ur2{
    height: 400px;
    background-color: white;
    width: 200px;
    display: inline-block ;
}
#ur3{
    height: 400px;
    background-color: rgb(255, 187, 0);
    width: 200px;
    display: inline-block ;
}
#ut1{
    height: 400px;
    background-color: rgb(82, 146, 82);
    width: 200px;
    display: inline-block ;
}
#ut2{
    height: 400px;
    background-color: white;
    width: 200px;
    display: inline-block ;
}
#ut3{
    height: 400px;
    background-color: rgb(190, 37, 37);
    width: 200px;
    display: inline-block ;
}
#me1{
    height: 400px;
    background-color: rgb(65, 124, 65);
    width: 200px;
    display: inline-block ;
}
#me2{
    height: 400px;
    background-color: white;
    width: 200px;
    display: inline-block ;
}
#me3{
    height: 400px;
    background-color: red;
    width: 200px;
    display: inline-block ;
}
#ka1{
    height: 400px;
    background-color: red;
    width: 200px;
    display: inline-block ;
}
#ka2{
    height: 400px;
    background-color: white;
    width: 200px;
    display: inline-block ;
}
#ka3{
    height: 400px;
    background-color: red;
    width: 200px;
    display: inline-block ;
}

#ta1{
    height: 100px;
    background-color: rgb(190, 37, 37);

}
#ta2{
    height: 100px;
    background-color: white;

}
#ta3{
    height: 200px;
    background-color: rgb(27, 27, 107);

}
#ta4{
    height: 100px;
    background-color: white;

}
#ta5{
    height: 100px;
    background-color: rgb(190, 37, 37);

}
#pa1{
    height: 400px;
    background-color: green;
    width: 200px;
    display: inline-block ;
}
#pa2{
    height: 400px;
    background-color: red;

}
#hf1{
    height: 200px;
    background-color: blue;
    width: 200px;
    display: inline-block ;
}
#hf2{
    height: 200px;
    background-color: yellow;
    width: 200px;
    display: inline-block ;
}

#hf3{
    height: 200px;
    background-color: blue;
    width: 200px;
    display: inline-block ;
}
#hf4{
    height: 100px;
    background-color: yellow;
    width: 609px;

}
#hf5{
    height: 200px;
    background-color: blue;
    width: 200px;
    display: inline-block ;

}
#hf6{
    height: 200px;
    background-color: yellow;
    width: 200px;
    display: inline-block ;

}
#hf7{
    height: 200px;
    background-color: blue;
    width: 200px;
    display: inline-block ;

}






